.search-input-wrapper {
  img {
    position: absolute;
  }

  i {
    position: absolute;
    color: gray;
  }
}

.search-input-title {
  top: 0;
  bottom: 0;
  right: 48px;
  display: table;
  margin: auto;
}

.search-button__remove {
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.search-button__arrow {
  font-size: 20px;
  right: 16px;
  top: 18px;
  cursor: pointer;
}

.search-button__search {
  font-size: 20px;
  right: 20px;
  top: 18px;
  cursor: pointer;
}
