@import "./variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f31fa7');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f31fa7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f31fa7') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f31fa7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f31fa7##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}

