@import "./variables";

html,
body {
  font-family: $font-family;
  direction: rtl;
}

.radio-button {
  align-items: center;

  input {
    position: relative;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid $gray;
    transition: 0.2s all linear;

    &::after {
      content: "";
      width: 11px;
      height: 11px;
      position: absolute;
      left: 2px;
      top: 2px;
      background: $primary;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  input:checked {
    border: 3px solid $primary;
    
    &::after {
      opacity: 1;
    }
  }
}
