$icomoon-font-family: "iconSearchProject" !default;
$icomoon-font-path: "../../assets/fontIcons" !default;

$font-family: "Vazirmatn";

$primary: #C026D3;
$gray : #6B7280;

$icon-search: "\e900";
$icon-arrow-right: "\e901";
$icon-close: "\e902";
